<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make My Home</title>
    <!--General-->
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!--Header-->
    <link rel="stylesheet" href="../assets/css/header.css" />
    <!--MConcept-->
    <link rel="stylesheet" href="../assets/css/gioithieu.css" />
    <!--SlideBar-->
    <link rel="stylesheet" href="../assets/css/slidebar.css" />
    <!--Footer-->
    <link rel="stylesheet" href="../assets/css/footer.css" />
    <!--Boostrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!--Fontawsome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>

  <body>
    <div class="loading"></div>
    <div class="offline-message" id="offline-message"></div>
    <div class="content-show">
      <!--Background-->
      <div class="bg">
        <img src="../assets/images/GioiThieu/bg.webp" alt="ảnh nền" />
      </div>
      <div class="white-bg">
        <!--Header-->
        <header></header>

        <!--Giới Thiệu Content-->
        <div class="gioithieu_header container">
          <hr size="30px" color="yellow" />
          <h1>Giới thiệu</h1>
          <div class="flex">
            <div class="content">
              <h2 class="title">Hack your space - Hack your life</h2>
              <p>
                “Less is More" là một ngụ ý trong tư duy và thiết kế về sự đúng
                đắn trong việc tối giản hoá mọi thứ. Triết lý này trở nên nổi
                tiếng và lan toả mạnh mẽ vào những năm đầu thế kỷ 20, khi song
                hành cùng vị kiến trúc sư huyền thoại Ludwig Mies Van Der Rohe
                của trường phái Minimalism – Chủ nghĩa tối giản.
              </p>

              <p>
                Kế thừa tư duy đó và một mong muốn tạo dựng những không gian
                sống mang tính chuẩn mực và hiện đại, những người trẻ chúng tôi
                đã cùng nhau cho ra đời MAKE MY HOME. Câu chuyện được bắt đầu từ
                cuối năm 2016 bởi một kiến trúc sư trẻ tuổi, MAKE MY HOME bước
                đầu nhận được khá nhiều sự ủng hộ của các bạn trẻ và vẫn đang
                tiếp tục những chương mới. Tại MAKE MY HOME, tất cả sản phẩm
                trang trí nội thất & giải pháp không gian sống không chỉ đơn
                thuần tuân thủ theo ngôn ngữ giản lược của Minimalism, mà còn
                cân bằng được tính năng và độ thẩm mỹ cần có.
              </p>

              <p>
                “Ít tức là nhiều", nhưng mỗi chi tiết xuất hiện trên thiết kế
                đều là một sự chăm chút kỹ lưỡng và hoàn hảo. Và đó cũng chính
                là tôn chỉ hoạt động của MAKE MY HOME. Với tinh thần cầu tiến
                luôn cố gắng hết mình để cung cấp những sản phẩm chất lượng cộng
                với dịch vụ thân thiện cho khách hàng, chúng tôi hy vọng có thể
                chia sẻ một niềm tin cố hữu với tất cả mọi người: “Cuộc sống sẽ
                trở nên tốt đẹp hơn khi không gian sống được quan tâm và đầu tư
                đúng mực.”
              </p>
            </div>
            <img src="../assets/images/GioiThieu/about_shop.webp" alt="" />
          </div>
        </div>
      </div>
      <div class="opa-div"></div>
      <div class="white-bg">
        <!--Giới thiệu body-->

        <div class="gioithieu_body flex container">
          <div class="item">
            <div class="image-container">
              <img src="../assets/images/GioiThieu/icon_about_1.webp" alt="" />
            </div>
            <h1>TRUYỀN CẢM HỨNG</h1>
            <p>
              Chúng tôi tin rằng: Không gian sống đẹp có thể làm thay đổi chất
              lượng cuộc sống của bạn. Và chúng tôi mong mỏi truyền tải niềm tin
              đó đến cho mọi người để ai cũng có một nơi đáng sống.
            </p>
          </div>
          <div class="item">
            <div class="image-container">
              <img src="../assets/images/GioiThieu/icon_about_2.webp" alt="" />
            </div>
            <h1>ĐỊNH HƯỚNG THẨM MỸ</h1>
            <p>
              Chúng tôi không chỉ cung cấp sản phẩm nội thất, chúng tôi mang cho
              bạn phong cách sống. “Less is more” - Một sự đơn giản nhất định
              nhưng tinh tế trong không gian sống sẽ giúp bạn dễ dàng cân bằng
              hơn trong cuộc sống.
            </p>
          </div>
          <div class="item">
            <div class="image-container">
              <img src="../assets/images/GioiThieu/icon_about_3.webp" alt="" />
            </div>
            <h1>XÂY DỰNG GIÁ TRỊ VIỆT</h1>
            <p>
              Ứng dụng và phát triển những giá trị truyền thống vào không gian
              sống hiện đại là một trong những đặc điểm để khẳng định và làm cho
              chúng tôi trở nên khác biệt. Chúng tôi muốn trở thành một thương
              hiệu Việt vì người Việt.
            </p>
          </div>
        </div>

        <div class="cotloi container">
          <h1>Giá trị cốt lõi</h1>
          <div class="cotloi_body flex container">
            <div class="item">
              <div class="image-container">
                <img src="../assets/images/GioiThieu/pic_1.webp" alt="" />
              </div>
              <h1>KẾT NỐI</h1>
              <p>
                Mọi hoạt động sẽ chỉ diễn ra khi có sự kết nối. MAKE MY HOME
                luôn cố gắng vun đắp cho những mối quan hệ thiết yếu: Người tiêu
                dùng - Thương hiệu; Nhân viên - Thương hiệu; Người tiêu dùng -
                Nhân viên.
              </p>
            </div>
            <div class="item">
              <div class="image-container">
                <img src="../assets/images/GioiThieu/pic_2.webp" alt="" />
              </div>
              <h1>THÂN THIỆN</h1>
              <p>
                Make My Home xây dựng một thương hiệu thân thiện thông qua cách
                chúng tôi làm sản phẩm và đem sản phẩm đó đến tay của bạn. Một
                sản phẩm thân thiện được cung cấp bởi một dịch vụ thân thiện
                chính là Kim chỉ nam để thành công của chúng tôi.
              </p>
            </div>
            <div class="item">
              <div class="image-container">
                <img src="../assets/images/GioiThieu/pic_3.webp" alt="" />
              </div>
              <h1>CHỦ ĐỘNG</h1>
              <p>
                MAKE MY HOME chủ động thay đổi để không ngừng phát triển. Ngoài
                ra, khách hàng, bằng những sản phẩm của chúng tôi, có thể chủ
                động trong việc tạo nên phong cách sống riêng biệt trong không
                gian của mỗi người.
              </p>
            </div>
          </div>
        </div>
        <div class="location container flex">
          <div class="content">
            <h1>Thông tin liên hệ</h1>
            <p>
              <b>Công ty TNHH Kiến trúc và Nội thất Make My Home</b><br />
              <b>GPĐKKD:</b> số 0314329518 do Sở KHĐT TP.HCM cấp ngày 03/04/2017
              <br />
              <b>Cửa hàng:</b> 90-92 Đường B2, Khu đô thị Sala, An Lợi Đông, Thủ
              Đức, HCM<br />
              <b>Hotline:</b> 028 62676466 - ‭0866757758<br />
              <b>Email:</b> suppport@makemyhomevn.com
            </p>
            <h1>Giờ làm việc</h1>
            <ul>
              <li><b>Văn phòng:</b> Thứ 2 – Thứ 7; 9:00 – 18:00</li>
              <li><b>Cửa hàng:</b> Thứ 2 – Chủ Nhật; 9:00 – 21:00</li>
            </ul>
          </div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d979.7837596213723!2d106.6543433291457!3d10.800967916865186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752937bcdbb275%3A0xb2ebd51cd69f50fa!2zOTkgQ-G7mW5nIEjDsmEsIFBoxrDhu51uZyA0LCBUw6JuIELDrG5oLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1573284375857!5m2!1svi!2s"
            width="500"
            height="400"
            frameborder="0"
            style="border: 0"
            allowfullscreen=""
          ></iframe>
        </div>
        <!--Share Content-->
        <div class="container share"></div>
        <!--Footer-->
        <footer></footer>
      </div>
    </div>
    <script src="../assets/js/loading&connect.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/header&footer.js"></script>
    <script src="../assets/js/slideshow.js"></script>
  </body>
</html>
