<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make My Home</title>
    <!--General-->
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!--LienHe-->
    <link rel="stylesheet" href="../assets/css/lienhe.css" />
    <!--Boostrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!--Fontawsome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>

  <body>
    <div class="loading"></div>
    <div class="offline-message" id="offline-message"></div>
    <div class="content-show">
      <!--Header-->
      <header></header>

      <!--Liên hệ Content-->
      <div class="lienhe_header container">
        <hr size="30px" color="yellow" />
        <h1>Liên hệ</h1>
        <div class="flex">
          <div class="content">
            <div class="content_1">
              <h2>Để Lại Lời Nhắn!</h2>
              <form>
                <table>
                  <tr>
                    <td><input type="text" placeholder="Tên:" /></td>
                    <td class="ten_email">
                      <input type="email" placeholder="Email:" />
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <textarea
                        name=""
                        id=""
                        cols="110"
                        rows="10"
                        placeholder="Tin nhắn:"
                      ></textarea>
                    </td>
                  </tr>
                </table>
                <button>Gửi</button>
              </form>
            </div>
            <div class="content_2">
              <h2>Liên hệ chúng tôi</h2>
              <p>
                <b>Công ty TNHH Kiến trúc và Nội thất Make My Home</b><br />
                <b>GPĐKKD:</b> số 0314329518 do Sở KHĐT TP.HCM cấp ngày
                03/04/2017<br />
                <b>Cửa hàng & văn phòng:</b> 90 - 92 Đường B2, Khu đô thị Sala,
                An Lợi Đông, Thủ Đức, HCM<br />
                <b>Kho hàng:</b> 39 Đường Số 4, Phường Thạnh Mỹ Lợi, Quận 2,
                HCM<br />
                <b>Xưởng sản xuất:</b> 180 Thạnh Xuân 14, phường Thạnh Xuân,
                Quận 12, HCM<br />
                <b>Hotline:</b> 028 62676466 - ‭0866757758<br />
                <b>Email:</b> support@makemyhomevn.com
              </p>
              <h2>Trang xã hội</h2>
              <div class="footer_icon">
                <a
                  href="https://www.facebook.com/makemyhomevn/?ref=aymt_homepage_panel"
                  ><i class="fa-brands fa-facebook fa-2xl"></i></a
                ><a href="https://www.instagram.com/makemyhomevn/?hl=en"
                  ><i class="fa-brands fa-instagram fa-2xl"></i
                ></a>
                <a href="https://www.pinterest.com/makemyhomevn/"
                  ><i class="fa-brands fa-pinterest fa-2xl"></i
                ></a>
                <a
                  href="https://www.youtube.com/channel/UC4mYFbip0Jb0lMXNcupaF0A"
                  ><i class="fa-brands fa-youtube fa-2xl"></i
                ></a>
              </div>
              <h2>Giờ làm việc</h2>
              <ul>
                <li><b>Văn phòng:</b> Thứ 2 - Thứ 7; 9:00 - 18:00</li>
                <li><b>Cửa hàng:</b> Thứ 2 - Chủ nhật; 9:00 - 21:00</li>
                <li><b>Kho hàng:</b> Thứ 2 - Thứ 7; 8:30 - 17:30</li>
                <li><b>Xưởng sản xuất:</b> Thứ 2 - Thứ 7; 8:00 - 17:00</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!--Share Content-->
      <div class="container share"></div>
      <!--Footer-->
      <footer></footer>
    </div>
    <script src="../assets/js/loading&connect.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/header&footer.js"></script>
    <script src="../assets/js/slideshow.js"></script>
  </body>
</html>
