<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make My Home</title>
    <!--General-->
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!--MConcept-->
    <link rel="stylesheet" href="../assets/css/mconcept.css" />
    <!--Boostrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!--Fontawsome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>

  <body>
    <div class="loading"></div>
    <div class="offline-message" id="offline-message"></div>
    <div class="content-show">
      <!--Header-->
      <header></header>

      <!--M-Concept Content-->
      <div class="concept-header">
        <div class="content">
          <img
            src="../assets/images/MConcept/Mconcept_1.webp"
            alt=""
            width="70%"
          />
          <h1>GIỚI THIỆU VỀ CONCEPT</h1>
          <p>
            <b>Concept</b> là gói sản phẩm nội thất và cải tạo không gian hoàn
            thiện theo thiết kế có sẵn từ thương hiệu Make My Home
          </p>

          <p>
            <b> Concept by MAKE MY HOME</b> sẽ mang đến những giải pháp nội thất
            tối giản với độ ứng dụng cao, phù hợp với nhiều phong cách khác
            nhau, tạo ra không gian sống tiện nghi, thoải mái và giúp bạn thực
            sự thư giãn mỗi khi trở về nhà.
          </p>
        </div>
        <div class="video-container">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/EjSdjXDGx0Y"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="concept-body">
        <img src="../assets/images/MConcept/Mconcept_2.webp" alt="" />
      </div>
      <div class="concept-items">
        <div class="item">
          <a href="./MConcept_detail.html">
            <div class="image-container">
              <img
                src="../assets/images/landingpage/concept/concept_1.webp"
                alt=""
              />
            </div>
          </a>
          <a href="./MConcept_detail.html" class="content-item">
            <h2>ĐỘC LẬP Concept</h2>
            <p>
              Tự do đi tìm hạnh phúc<br />
              Giá chỉ từ: <b>57,650,000đ</b>
            </p>
          </a>
        </div>
        <div class="item">
          <a href="./MConcept_detail.html">
            <div class="image-container">
              <img
                src="../assets/images/landingpage/concept/concept_2.webp"
                alt=""
              />
            </div>
          </a>
          <a href="./MConcept_detail.html" class="content-item">
            <h2>DALAT GRACE Concept</h2>
            <p>
              Thanh lịch: tinh xảo từng góc cạnh<br />
              Giá chỉ từ: <b>60,270,000đ</b>
            </p>
          </a>
        </div>
        <div class="item">
          <a href="./MConcept_detail.html">
            <div class="image-container">
              <img
                src="../assets/images/landingpage/concept/concept_3.webp"
                alt=""
              />
            </div>
          </a>
          <a href="./MConcept_detail.html" class="content-item">
            <h2>EZ Concept</h2>
            <p>
              Tối giản: sắp xếp thông minh tiết kiệm diện tích<br />
              Giá chỉ từ:<b>22,828,000đ</b>
            </p>
          </a>
        </div>
        <div class="item">
          <a href="./MConcept_detail.html">
            <div class="image-container">
              <img
                src="../assets/images/landingpage/concept/concept_4.webp"
                alt=""
              />
            </div>
          </a>
          <a href="./MConcept_detail.html" class="content-item">
            <h2>EZ TINY Concept</h2>
            <p>
              Nhỏ gọn: ấm áp, lưu trữ đa năng<br />
              Giá chỉ từ: <b>11,958,000đ</b>
            </p>
          </a>
        </div>
        <div class="item">
          <a href="./MConcept_detail.html">
            <div class="image-container">
              <img
                src="../assets/images/landingpage/concept/concept_5.webp"
                alt=""
              />
            </div>
          </a>
          <a href="./MConcept_detail.html" class="content-item">
            <h2>QUADA Concept</h2>
            <p>
              Hiện đại: gần gủi, mộc mạc, tinh tế<br />Giá chỉ từ:
              <b>70,660,000đ</b>
            </p>
          </a>
        </div>
        <div class="item">
          <a href="./MConcept_detail.html">
            <div class="image-container">
              <img
                src="../assets/images/landingpage/concept/concept_6.webp"
                alt=""
              />
            </div>
          </a>
          <a href="./MConcept_detail.html" class="content-item">
            <h2>SAGO Concept</h2>
            <p>
              Industrial: hiện đại, mạnh mẽ, tinh xảo<br />Giá chỉ từ:
              <b>62,380,000đ</b>
            </p>
          </a>
        </div>
        <div class="item">
          <a href="./MConcept_detail.html">
            <div class="image-container">
              <img
                src="../assets/images/landingpage/concept/concept_7.webp"
                alt=""
              />
            </div>
          </a>
          <a href="./MConcept_detail.html" class="content-item">
            <h2>DALAT Concept</h2>
            <p>
              Scandinavian: ấm áp, mộc mạc, gần gủi<br />Giá chỉ từ:
              <b>59,190,000đ</b>
            </p>
          </a>
        </div>
        <div class="item">
          <a href="./MConcept_detail.html">
            <div class="image-container">
              <img
                src="../assets/images/landingpage/concept/concept_8.webp"
                alt=""
              />
            </div>
          </a>
          <a href="./MConcept_detail.html" class="content-item">
            <h2>HANO Concept</h2>
            <p>
              Cổ điển: sang trọng, tinh xảo, độc đáo<br />Giá chỉ từ:
              <b>88,955,000đ</b>
            </p>
          </a>
        </div>
        <div class="item">
          <a href="./MConcept_detail.html">
            <div class="image-container">
              <img
                src="../assets/images/landingpage/concept/concept_9.webp"
                alt=""
              />
            </div>
          </a>
          <a href="./MConcept_detail.html" class="content-item">
            <h2>JOHY Concept</h2>
            <p>
              Minimal: trắng sáng, tối giản, tinh tế<br />Giá chỉ từ:
              <b>50,840,000đ</b>
            </p>
          </a>
        </div>
      </div>

      <!--Share Content-->
      <div class="container share"></div>
      <!--Footer-->
      <footer></footer>
    </div>
    <script src="../assets/js/loading&connect.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/header&footer.js"></script>
    <script src="../assets/js/slideshow.js"></script>
  </body>
</html>
