<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make My Home</title>
    <!--General-->
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!--Sản phẩm-->
    <link rel="stylesheet" href="../assets/css/sanpham.css" />
    <!--Boostrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!--Fontawsome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>

  <body>
    <div class="loading"></div>
    <div class="offline-message" id="offline-message"></div>
    <div class="content-show">
      <!--Header-->
      <header></header>

      <!--Sản phẩm Content-->
      <div class="sanpham_banner">
        <img src="../assets/images/sanpham/sanpham_1.png" alt="" />
      </div>
      <!--New Release-->
      <div class="sanpham_newrelease">
        <h1>Sản Phẩm Mới Ra Mắt</h1>
        <div
          id="NewRelease"
          class="carousel slide"
          data-bs-touch="false"
          data-bs-interval="false"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="session_1">
                <div class="session_1-left">
                  <img src="../assets/images/sanpham/new_1.webp" alt="" />
                </div>
                <div class="session_1-right">
                  <a href="./ghe_detail.html" class="product-card">
                    <span class="discount-tag">10</span>
                    <div class="product-image">
                      <img
                        src="../assets/images/sanpham/new_2.webp"
                        alt="Product Image"
                        class="original-image"
                      />
                      <img
                        src="../assets/images/sanpham/detail_2.webp"
                        alt="Detail Image"
                        class="hover-image"
                      />
                    </div>
                    <div class="product-details">
                      <i
                        class="fa-solid fa-cart-plus fa-2xl"
                        id="add-cart"
                        onclick="addItem(event)"
                      ></i>
                      <h2>AURORA</h2>
                      <p>Sofa giường, 170 x 76 x 68 cm</p>
                      <div class="price">
                        <span class="discount-price">2,961,000</span>
                        <span class="original-price">3,290,000</span>
                      </div>
                    </div>
                  </a>
                  <a href="./ghe_detail.html" class="product-card">
                    <div class="product-image">
                      <img
                        src="../assets/images/sanpham/new_3.webp"
                        alt="Product Image"
                        class="original-image"
                      />
                      <img
                        src="../assets/images/sanpham/detail_3.webp"
                        alt="Detail Image"
                        class="hover-image"
                      />
                    </div>
                    <div class="product-details">
                      <i
                        class="fa-solid fa-cart-plus fa-2xl"
                        id="add-cart"
                        onclick="addItem(event)"
                      ></i>
                      <h2>ALADDIN</h2>
                      <p>Sofa góc</p>
                      <div class="price">
                        <span class="discount-price">19,000,000</span>
                      </div>
                    </div>
                  </a>
                  <a href="./ghe_detail.html" class="product-card">
                    <div class="product-image">
                      <img
                        src="../assets/images/sanpham/new_4.webp"
                        alt="Product Image"
                        class="original-image"
                      />
                      <img
                        src="../assets/images/sanpham/detail_4.webp"
                        alt="Detail Image"
                        class="hover-image"
                      />
                    </div>
                    <div class="product-details">
                      <i
                        class="fa-solid fa-cart-plus fa-2xl"
                        id="add-cart"
                        onclick="addItem(event)"
                      ></i>
                      <h2>HIRO</h2>
                      <p>Sofa băng 3 seaters</p>
                      <div class="price">
                        <span class="discount-price">13,450,000</span>
                      </div>
                    </div>
                  </a>
                  <a href="./ghe_detail.html" class="product-card">
                    <div class="product-image">
                      <img
                        src="../assets/images/sanpham/new_5.webp"
                        alt="Product Image"
                        class="original-image"
                      />
                      <img
                        src="../assets/images/sanpham/detail_5.webp"
                        alt="Detail Image"
                        class="hover-image"
                      />
                    </div>
                    <div class="product-details">
                      <i
                        class="fa-solid fa-cart-plus fa-2xl"
                        id="add-cart"
                        onclick="addItem(event)"
                      ></i>
                      <h2>ABU</h2>
                      <p>Ghế đôn</p>
                      <div class="price">
                        <span class="discount-price">1,375,000</span>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="session_2">
                <a href="./ghe_detail.html" class="product-card">
                  <span class="discount-tag">10</span>
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/new_2.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/detail_2.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem()"
                    ></i>
                    <h2>AURORA</h2>
                    <p>Sofa giường, 170 x 76 x 68 cm</p>
                    <div class="price">
                      <span class="discount-price">2,961,000</span>
                      <span class="original-price">3,290,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/new_3.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/detail_3.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>ALADDIN</h2>
                    <p>Sofa góc</p>
                    <div class="price">
                      <span class="discount-price">19,000,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/new_4.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/detail_4.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>HIRO</h2>
                    <p>Sofa băng 3 seaters</p>
                    <div class="price">
                      <span class="discount-price">13,450,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/new_5.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/detail_5.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>ABU</h2>
                    <p>Ghế đôn</p>
                    <div class="price">
                      <span class="discount-price">1,375,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/new_6.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/detail_6.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>VAHI</h2>
                    <p>Ghế ăn, ghế làm việc</p>
                    <div class="price">
                      <span class="discount-price">1,850,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/new_7.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/detail_7.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>PANNACOTTA</h2>
                    <p>Ghế đôn</p>
                    <div class="price">
                      <span class="discount-price">800,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/new_8.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/detail_8.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>POPPY</h2>
                    <p>Ghế ăn, ghế làm việc, ghế bành</p>
                    <div class="price">
                      <span class="discount-price">1,950,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <span class="discount-tag">30</span>
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/new_9.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/detail_9.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>PANNACOTTA</h2>
                    <p>Ghế đôn</p>
                    <div class="price">
                      <span class="discount-price">560,000</span>
                      <span class="original-price">800,000</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev btn-show"
            type="button"
            data-bs-target="#NewRelease"
            data-bs-slide="prev"
            style="position: absolute; top: -3.5vw; width: 10vw"
          >
            <i class="fa-solid fa-angle-left fa-2xl" style="color: #000000"></i>
          </button>
          <button
            class="carousel-control-next btn-show"
            type="button"
            data-bs-target="#NewRelease"
            data-bs-slide="next"
            style="position: absolute; top: -3.5vw; left: 90%; width: 10vw"
          >
            <i
              class="fa-solid fa-angle-right fa-2xl"
              style="color: #000000"
            ></i>
          </button>
        </div>
      </div>
      <!--Category-->
      <div class="sanpham_category container">
        <h1>Nhóm sản phẩm</h1>
        <div class="category_items">
          <a href="./sanpham_ghe.html" class="category_item"
            ><div class="img-container">
              <img
                src="../assets/images/landingpage/category/category_2.webp"
                alt=""
              />
            </div>
            <p>SOFA - sofas</p></a
          ><a href="./sanpham_ghe.html" class="category_item"
            ><div class="img-container">
              <img
                src="../assets/images/landingpage/category/category_3.webp"
                alt=""
              />
            </div>
            <p>BÀN - tables</p></a
          ><a href="./sanpham_ghe.html" class="category_item"
            ><div class="img-container">
              <img
                src="../assets/images/landingpage/category/category_4.webp"
                alt=""
              />
            </div>
            <p>GHẾ - chairs</p></a
          ><a href="./sanpham_ghe.html" class="category_item"
            ><div class="img-container">
              <img
                src="../assets/images/landingpage/category/category_5.webp"
                alt=""
              />
            </div>
            <p>KỆ, TỦ - shelf units, cabinets</p></a
          ><a href="./sanpham_ghe.html" class="category_item"
            ><div class="img-container">
              <img
                src="../assets/images/landingpage/category/category_6.webp"
                alt=""
              />
            </div>
            <p>ĐÈN - lamps</p></a
          ><a href="./sanpham_ghe.html" class="category_item"
            ><div class="img-container">
              <img
                src="../assets/images/landingpage/category/category_7.webp"
                alt=""
              />
            </div>
            <p>GƯƠNG - mirrors</p></a
          ><a href="./sanpham_ghe.html" class="category_item"
            ><div class="img-container">
              <img
                src="../assets/images/landingpage/category/category_8.webp"
                alt=""
              />
            </div>
            <p>GIƯỜNG - beds</p></a
          ><a href="./sanpham_ghe.html" class="category_item"
            ><div class="img-container">
              <img
                src="../assets/images/landingpage/category/category_9.webp"
                alt=""
              />
            </div>
            <p>CHĂN, GA, GỐI - Bedding</p></a
          ><a href="./sanpham_ghe.html" class="category_item"
            ><div class="img-container">
              <img
                src="../assets/images/landingpage/category/category_10.webp"
                alt=""
              />
            </div>
            <p>SẢN PHẨM DỆT MAY - home textile</p></a
          ><a href="./sanpham_ghe.html" class="category_item"
            ><div class="img-container">
              <img
                src="../assets/images/landingpage/category/category_11.webp"
                alt=""
              />
            </div>
            <p>TRANG TRÍ - decorations</p></a
          ><a href="./sanpham_ghe.html" class="category_item"
            ><div class="img-container">
              <img
                src="../assets/images/landingpage/category/category_12.webp"
                alt=""
              />
            </div>
            <p>ĐỒ GIA DỤNG - household goods</p></a
          ><a href="./sanpham_ghe.html" class="category_item"
            ><div class="img-container">
              <img
                src="../assets/images/landingpage/category/category_13.webp"
                alt=""
              />
            </div>
            <p>ẤN PHẨM - publications</p></a
          >
        </div>
      </div>
      <!--Sản phẩm bán chạy-->
      <div class="product_slide container">
        <h1>Sản phẩm bán chạy</h1>
        <div
          id="BestSeller"
          class="carousel slide"
          data-bs-touch="false"
          data-bs-interval="false"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="product_slide-container flex">
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/bestseller/img_1.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/bestseller/detail_1.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem()"
                    ></i>
                    <h2>VAHI</h2>
                    <p>Ghế ăn, ghế làm việc</p>
                    <div class="price">
                      <span class="discount-price">1,850,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <span class="discount-tag">20</span>
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/bestseller/img_2.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/bestseller/detail_2.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                    <div class="soldout">Bán hết</div>
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>XAVIER</h2>
                    <p>Bàn làm việc</p>
                    <div class="price">
                      <span class="discount-price">1,160,000</span>
                      <span class="original-price">1,450,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/bestseller/img_3.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/bestseller/detail_3.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>CHIN</h2>
                    <p>Bàn sofa, bàn góc</p>
                    <div class="price">
                      <span class="discount-price">880,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/bestseller/img_4.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/bestseller/detail_4.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>WOODY</h2>
                    <p>Ghế ăn, ghế làm việc</p>
                    <div class="price">
                      <span class="discount-price">950,000</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="product_slide-container flex">
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/bestseller/img_5.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/bestseller/detail_5.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>VAHI</h2>
                    <p>Ghế ăn, ghế làm việc</p>
                    <div class="price">
                      <span class="discount-price">1,850,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <span class="discount-tag">20</span>
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/bestseller/img_6.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/bestseller/detail_6.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                    <div class="soldout">Bán hết</div>
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>XAVIER</h2>
                    <p>Bàn làm việc</p>
                    <div class="price">
                      <span class="discount-price">1,160,000</span>
                      <span class="original-price">1,450,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/bestseller/img_7.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/bestseller/detail_7.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>CHIN</h2>
                    <p>Bàn sofa, bàn góc</p>
                    <div class="price">
                      <span class="discount-price">880,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/bestseller/img_8.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/bestseller/detail_8.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>WOODY</h2>
                    <p>Ghế ăn, ghế làm việc</p>
                    <div class="price">
                      <span class="discount-price">950,000</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="product_slide-container flex">
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/bestseller/img_9.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/bestseller/detail_9.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>VAHI</h2>
                    <p>Ghế ăn, ghế làm việc</p>
                    <div class="price">
                      <span class="discount-price">1,850,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <span class="discount-tag">20</span>
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/bestseller/img_10.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/bestseller/detail_10.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                    <div class="soldout">Bán hết</div>
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>XAVIER</h2>
                    <p>Bàn làm việc</p>
                    <div class="price">
                      <span class="discount-price">1,160,000</span>
                      <span class="original-price">1,450,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/bestseller/img_11.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/bestseller/detail_11.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>CHIN</h2>
                    <p>Bàn sofa, bàn góc</p>
                    <div class="price">
                      <span class="discount-price">880,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/bestseller/img_12.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/bestseller/detail_12.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>WOODY</h2>
                    <p>Ghế ăn, ghế làm việc</p>
                    <div class="price">
                      <span class="discount-price">950,000</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev btn-show"
            type="button"
            data-bs-target="#BestSeller"
            data-bs-slide="prev"
          >
            <i
              class="fa-solid fa-angle-left fa-2xl"
              style="color: #000000; position: relative; left: -7vw; top: -3vw"
            ></i>
          </button>
          <button
            class="carousel-control-next btn-show"
            type="button"
            data-bs-target="#BestSeller"
            data-bs-slide="next"
          >
            <i
              class="fa-solid fa-angle-right fa-2xl"
              style="color: #000000; position: relative; left: 5vw; top: -3vw"
            ></i>
          </button>
        </div>
      </div>
      <!--Bộ sưu tập-->
      <div class="product_slide container">
        <h1>Bộ sưu tập ĐỘC LẬP</h1>
        <div
          id="collections"
          class="carousel slide"
          data-bs-touch="false"
          data-bs-interval="false"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="product_slide-container flex">
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/DocLap/img_1.jpeg"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/DocLap/detail_1.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>ĐỘC LẬP</h2>
                    <p>Kệ lưu trữ 1, 84x30x203cm</p>
                    <div class="price">
                      <span class="discount-price">3,620,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/DocLap/img_2.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/DocLap/detail_2.jpeg"
                      alt="Detail Image"
                      class="hover-image"
                    />
                    <div class="soldout">Bán hết</div>
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>ĐỘC LẬP</h2>
                    <p>Bàn ăn, 160x80x74cm</p>
                    <div class="price">
                      <span class="discount-price">3,450,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/DocLap/img_3.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/DocLap/detail_3.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>ĐỘC LẬP</h2>
                    <p>Tủ giày, 90x35x107cm</p>
                    <div class="price">
                      <span class="discount-price">4,220,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/DocLap/img_4.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/DocLap/detail_4.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>ĐỘC LẬP</h2>
                    <p>Tủ lưu trữ, 80x40x175cm</p>
                    <div class="price">
                      <span class="discount-price">4,620,000</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="product_slide-container flex">
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/DocLap/img_5.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/DocLap/detail_5.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>ĐỘC LẬP</h2>
                    <p>Bàn trang điểm, làm việc, 90x45x75cm</p>
                    <div class="price">
                      <span class="discount-price">4,850,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/DocLap/img_6.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/DocLap/detail_6.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>ĐỘC LẬP</h2>
                    <p>Tủ TV, 140x60x45cm</p>
                    <div class="price">
                      <span class="discount-price">4,990,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/DocLap/img_7.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/DocLap/detail_7.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>ĐỘC LẬP</h2>
                    <p>Hệ tủ quần áo 2, 240x60x235cm</p>
                    <div class="price">
                      <span class="discount-price">23,460,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/DocLap/img_8.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/DocLap/detail_8.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>ĐỘC LẬP</h2>
                    <p>Hệ tủ quần áo 1, 180x60x235cm</p>
                    <div class="price">
                      <span class="discount-price">16,650,000</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="product_slide-container flex">
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/DocLap/img_9.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/DocLap/detail_9.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>ĐỘC LẬP</h2>
                    <p>Tủ quần áo 2, 60x60x235cm</p>
                    <div class="price">
                      <span class="discount-price">6,820,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/DocLap/img_10.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/DocLap/detail_10.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>ĐỘC LẬP</h2>
                    <p>Tủ quần áo 1, 120x60x235cm</p>
                    <div class="price">
                      <span class="discount-price">9,820,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/DocLap/img_11.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/DocLap/detail_11.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>ĐỘC LẬP</h2>
                    <p>Bàn sofa, 100x45x40cm</p>
                    <div class="price">
                      <span class="discount-price">1,450,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/DocLap/img_12.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/DocLap/detail_12.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>ĐỘC LẬP</h2>
                    <p>Tủ đầu giường, 45x35x52cm</p>
                    <div class="price">
                      <span class="discount-price">1,990,000</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev btn-show"
            type="button"
            data-bs-target="#collections"
            data-bs-slide="prev"
          >
            <i
              class="fa-solid fa-angle-left fa-2xl"
              style="color: #000000; position: relative; left: -7vw; top: -3vw"
            ></i>
          </button>
          <button
            class="carousel-control-next btn-show"
            type="button"
            data-bs-target="#collections"
            data-bs-slide="next"
          >
            <i
              class="fa-solid fa-angle-right fa-2xl"
              style="color: #000000; position: relative; left: 5vw; top: -3vw"
            ></i>
          </button>
        </div>
      </div>
      <!--Có Thể Bạn Cũng Thích-->
      <div class="product_slide container">
        <h1>Có thể bạn cũng thích</h1>
        <div
          id="relativeProduct"
          class="carousel slide"
          data-bs-touch="false"
          data-bs-interval="false"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="product_slide-container flex">
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/RProduct/img_1.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/RProduct/detail_1.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>CHIN</h2>
                    <p>Bàn sofa, bàn góc</p>
                    <div class="price">
                      <span class="discount-price">880,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/RProduct/img_2.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/RProduct/detail_2.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>COTTON DYSANIA</h2>
                    <p>Combo 3 món</p>
                    <div class="price">
                      <span class="discount-price">1,045,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/RProduct/img_3.webp"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/RProduct/detail_3.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>HANO</h2>
                    <p>Sofa đơn</p>
                    <div class="price">
                      <span class="discount-price">9,500,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/RProduct/img_4.png"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/RProduct/detail_4.jpeg"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>HOBU</h2>
                    <p>Kệ TV, kệ lưu trữ</p>
                    <div class="price">
                      <span class="discount-price">2,850,000</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="product_slide-container flex">
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/RProduct/img_5.jpeg"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/RProduct/detail_5.png"
                      alt="Detail Image"
                      class="hover-image"
                    />
                    <div class="soldout">Bán hết</div>
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>KATTY</h2>
                    <p>Ghế ăn, ghế làm việc</p>
                    <div class="price">
                      <span class="discount-price">1,450,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/RProduct/img_6.jpeg"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/RProduct/detail_6.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>LEHI</h2>
                    <p>Bàn ăn 4-6 người</p>
                    <div class="price">
                      <span class="discount-price">5,490,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/RProduct/img_7.jpeg"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/RProduct/detail_7.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>MIN</h2>
                    <p>Tranh 50*70cm</p>
                    <div class="price">
                      <span class="discount-price">790,000</span>
                    </div>
                  </div>
                </a>
                <a href="./ghe_detail.html" class="product-card">
                  <div class="product-image">
                    <img
                      src="../assets/images/sanpham/RProduct/img_8.png"
                      alt="Product Image"
                      class="original-image"
                    />
                    <img
                      src="../assets/images/sanpham/RProduct/detail_8.webp"
                      alt="Detail Image"
                      class="hover-image"
                    />
                  </div>
                  <div class="product-details">
                    <i
                      class="fa-solid fa-cart-plus fa-2xl"
                      id="add-cart"
                      onclick="addItem(event)"
                    ></i>
                    <h2>PIN</h2>
                    <p>Bảng ghim, ghi chú</p>
                    <div class="price">
                      <span class="discount-price">580,000</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev btn-show"
            type="button"
            data-bs-target="#relativeProduct"
            data-bs-slide="prev"
          >
            <i
              class="fa-solid fa-angle-left fa-2xl"
              style="color: #000000; position: relative; left: -7vw; top: -3vw"
            ></i>
          </button>
          <button
            class="carousel-control-next btn-show"
            type="button"
            data-bs-target="#relativeProduct"
            data-bs-slide="next"
          >
            <i
              class="fa-solid fa-angle-right fa-2xl"
              style="color: #000000; position: relative; left: 5vw; top: -3vw"
            ></i>
          </button>
        </div>
      </div>
      <!--Share Content-->
      <div class="container share"></div>
      <!--Footer-->
      <footer></footer>
    </div>
    <script src="../assets/js/loading&connect.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/header&footer.js"></script>
    <script src="../assets/js/slideshow.js"></script>
  </body>
</html>
