<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make My Home</title>
    <!--General-->
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!--sharemoment-->
    <link rel="stylesheet" href="../assets/css/sharemoment.css" />
    <!--Boostrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!--Fontawsome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>

  <body>
    <div class="loading"></div>
    <div class="offline-message" id="offline-message"></div>
    <div class="content-show">
      <!--Header-->
      <header></header>

      <!--ShareMoment Content-->

      <div class="sharemoment container">
        <h1>Cùng nhau chia sẻ những khoảng khắc đẹp</h1>
        <div class="share-container">
          <div class="img-container">
            <img src="../assets/images/slider/slider_1.webp" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_2.webp" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_3.webp" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_4.webp" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_5.webp" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_6.webp" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_7.webp" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_8.jpg" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_9.webp" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_10.webp" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_11.webp" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_12.webp" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_13.webp" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_14.webp" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_15.webp" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_16.webp" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_17.webp" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_18.jpeg" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_19.jpeg" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_20.webp" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_21.webp" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_22.jpeg" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_23.jpeg" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_24.webp" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_25.jpeg" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_26.webp" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_27.webp" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_28.jpeg" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_29.webp" alt="" />
          </div>
          <div class="img-container">
            <img src="../assets/images/slider/slider_30.webp" alt="" />
          </div>
        </div>
      </div>

      <!--Footer-->
      <footer></footer>
    </div>
    <script src="../assets/js/loading&connect.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/header&footer.js"></script>
  </body>
</html>
