<h3><a href="./shareMoment.html">Chia sẻ khoảnh khắc </a></h3>
<div
  id="ShareContent"
  class="carousel slide share_container"
  data-bs-touch="false"
  data-bs-interval="false"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="./shareMoment.html" class="slidebar">
        <img
          src="../assets/images/slider/slider_1.webp"
          class="d-block w-25 slider"
          alt="..."
        />
        <img
          src="../assets/images/slider/slider_2.webp"
          class="d-block w-25 slider"
          alt="..."
        />
        <img
          src="../assets/images/slider/slider_3.webp"
          class="d-block w-25 slider"
          alt="..."
        />
        <img
          src="../assets/images/slider/slider_4.webp"
          class="d-block w-25 slider"
          alt="..."
        />
      </a>
    </div>
    <div class="carousel-item">
      <a href="./shareMoment.html" class="slidebar">
        <img
          src="../assets/images/slider/slider_5.webp"
          class="d-block w-25 slider"
          alt="..."
        />
        <img
          src="../assets/images/slider/slider_6.webp"
          class="d-block w-25 slider"
          alt="..."
        />
        <img
          src="../assets/images/slider/slider_7.webp"
          class="d-block w-25 slider"
          alt="..."
        />
        <img
          src="../assets/images/slider/slider_8.jpg"
          class="d-block w-25 slider"
          alt="..."
        />
      </a>
    </div>
    <div class="carousel-item">
      <a href="./shareMoment.html" class="slidebar">
        <img
          src="../assets/images/slider/slider_9.webp"
          class="d-block w-25 slider"
          alt="..."
        />
        <img
          src="../assets/images/slider/slider_10.webp"
          class="d-block w-25 slider"
          alt="..."
        />
        <img
          src="../assets/images/slider/slider_11.webp"
          class="d-block w-25 slider"
          alt="..."
        />
        <img
          src="../assets/images/slider/slider_12.webp"
          class="d-block w-25 slider"
          alt="..."
        />
      </a>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#ShareContent"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#ShareContent"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
