<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make My Home</title>
    <!--General-->
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!-- Thietkethicong -->
    <link rel="stylesheet" href="../assets/css/thietkethicong.css" />
    <!-- Thietkethicong -->
    <link rel="stylesheet" href="../assets/css/thietkethicong2.css" />
    <!--Boostrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!--Fontawsome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>

  <body>
    <div class="loading"></div>
    <div class="offline-message" id="offline-message"></div>
    <div class="content-show">
      <!--Header-->
      <header></header>

      <!--thietkethicong Content-->
      <div class="thietke2_header">
        <div class="content">
          <div class="header">
            <div class="text">
              <h3>Căn hộ D’Edge 3PN (Quận 2)</h3>
              <p>Vị trí: Nguyễn Văn Hưởng, P.Thảo Điền, Q.2, TP. HCM</p>
              <p>Mặt bằng tổng thể: Căn hộ 3 Phòng Ngủ</p>
              <p>
                Phong cách thiết kế: Hiện đại, sử dụng tông gỗ nâu trầm kết hợp
                với kim loại vàng đồng giúp không gian sang trọng và ấm cúng
              </p>
              <p>Thương hiệu nội thất sử dụng:</p>
              <p><span>Make My Home</span></p>
              <p><span>Boconcept</span></p>
              <p><span>Calligaris</span></p>
            </div>
            <div id="ThietKe2" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#ThietKe2"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  data-bs-target="#ThietKe2"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"
                ></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="../assets/images/thietkethicong/a1.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../assets/images/thietkethicong/b1.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../assets/images/thietkethicong/b2.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <!-- Các dự án thực hiện -->
          <div class="cacduan">
            <h2>CÁC DỰ ÁN THỰC HIỆN</h2>
            <div>
              <div class="row">
                <div class="item">
                  <a href="../template/thietkethicong2.html">
                    <div
                      class="item-image"
                      style="
                        background-image: url(../assets/images/thietkethicong/c1.jpg);
                      "
                    ></div>
                    <h4>Thiết kế căn hộ Vihome West Point 3PN</h4>
                    <p>
                      Những gợi ý thiết kế nội thất Dự án Vihome West Point (Nam
                      Từ Liêm) [...]
                    </p>
                  </a>
                  <button>
                    <a class="button" href="../template/thietkethicong2.html"
                      >READ MORE</a
                    >
                  </button>
                </div>
                <div class="item">
                  <a href="../template/thietkethicong2.html">
                    <div
                      class="item-image"
                      style="
                        background-image: url(../assets/images/thietkethicong/c2.jpg);
                      "
                    ></div>
                    <h4>Thiết kế căn hộ Vihome West Point 2PN</h4>
                    <p>
                      Những gợi ý thiết kế nội thất Dự án Vihome West Point (Nam
                      Từ Liêm) [...]
                    </p>
                  </a>
                  <button>
                    <a class="button" href="../template/thietkethicong2.html"
                      >READ MORE</a
                    >
                  </button>
                </div>
              </div>

              <div class="row" style="margin-top: 2%">
                <div class="item">
                  <a href="../template/thietkethicong2.html">
                    <div
                      class="item-image"
                      style="
                        background-image: url(../assets/images/thietkethicong/c3.jpg);
                      "
                    ></div>
                    <h4>Thiết kế căn hộ Vihome Grand Park</h4>
                    <p>
                      Những gợi ý thiết kế nội thất Dự án Vihome Grand Park
                      (Quận 9) [...]
                    </p>
                  </a>
                  <button>
                    <a class="button" href="../template/thietkethicong2.html"
                      >READ MORE</a
                    >
                  </button>
                </div>
                <div class="item">
                  <a href="../template/thietkethicong2.html">
                    <div
                      class="item-image"
                      style="
                        background-image: url(../assets/images/thietkethicong/c4.jpg);
                      "
                    ></div>
                    <h4>Thiết kế căn hộ Eco Green</h4>
                    <p>
                      Những gợi ý thiết kế nội thất Dự án Eco Green quận 7 Sài
                      Gòn[...]
                    </p>
                  </a>
                  <button>
                    <a class="button" href="../template/thietkethicong2.html"
                      >READ MORE</a
                    >
                  </button>
                </div>
              </div>

              <div class="row" style="margin-top: 2%">
                <div class="item">
                  <a href="../template/thietkethicong2.html">
                    <div
                      class="item-image"
                      style="
                        background-image: url(../assets/images/thietkethicong/c5.jpg);
                      "
                    ></div>
                    <h4>Thiết kế căn hộ Hà Đô Centrosa</h4>
                    <p>
                      Những gợi ý thiết kế nội thất Dự án Hà Đô Centrosa quận 10
                      Sài Gòn [...]
                    </p>
                  </a>
                  <button>
                    <a class="button" href="../template/thietkethicong2.html"
                      >READ MORE</a
                    >
                  </button>
                </div>
                <div class="item">
                  <a href="../template/thietkethicong2.html">
                    <div
                      class="item-image"
                      style="
                        background-image: url(../assets/images/thietkethicong/c6.jpg);
                      "
                    ></div>
                    <h4>Thiết kế căn hộ Feliz En Vista</h4>
                    <p>
                      Những gợi ý thiết kế nội thất Dự án Feliz En Vista quận 2
                      Sài Gòn [...]
                    </p>
                  </a>
                  <button>
                    <a class="button" href="../template/thietkethicong2.html"
                      >READ MORE</a
                    >
                  </button>
                </div>
              </div>

              <div class="row" style="margin-top: 2%">
                <div class="item">
                  <a href="../template/thietkethicong2.html">
                    <div
                      class="item-image"
                      style="
                        background-image: url(../assets/images/thietkethicong/c7.jpg);
                      "
                    ></div>
                    <h4>Thiết kế căn hộ D'Edge 2PN</h4>
                    <p>
                      Những gợi ý thiết kế nội thất Dự án D'Edge 2PN quận 2 Sài
                      Gòn [...]
                    </p>
                  </a>
                  <button>
                    <a class="button" href="../template/thietkethicong2.html"
                      >READ MORE</a
                    >
                  </button>
                </div>
                <div class="item">
                  <a href="../template/thietkethicong2.html">
                    <div
                      class="item-image"
                      style="
                        background-image: url(../assets/images/thietkethicong/c8.jpg);
                      "
                    ></div>
                    <h4>Thiết kế căn hộ D'Edge 3PN</h4>
                    <p>
                      Những gợi ý thiết kế nội thất Dự án D'Edge 3PN quân j2 SÀi
                      Gòn [...]
                    </p>
                  </a>
                  <button>
                    <a class="button" href="../template/thietkethicong2.html"
                      >READ MORE</a
                    >
                  </button>
                </div>
              </div>

              <div class="row" style="margin-top: 2%">
                <div class="item">
                  <a href="../template/thietkethicong2.html">
                    <div
                      class="item-image"
                      style="
                        background-image: url(../assets/images/thietkethicong/c9.jpg);
                      "
                    ></div>
                    <h4>Thiết kế căn hộ Empire City 1PN</h4>
                    <p>
                      Những gợi ý thiết kế nội thất Dự án Empire City 1PN quận 2
                      Sài Gòn [...]
                    </p>
                  </a>
                  <button>
                    <a class="button" href="../template/thietkethicong2.html"
                      >READ MORE</a
                    >
                  </button>
                </div>
                <div class="item">
                  <a href="../template/thietkethicong2.html">
                    <div
                      class="item-image"
                      style="
                        background-image: url(../assets/images/thietkethicong/c10.jpg);
                      "
                    ></div>
                    <h4>Thiết kế căn hộ Empire City 2PN</h4>
                    <p>
                      Những gợi ý thiết kế nội thất Dự án căn hộ Empire City 2PN
                      quận 2 Sài Gòn[...]
                    </p>
                  </a>
                  <button>
                    <a class="button" href="../template/thietkethicong2.html"
                      >READ MORE</a
                    >
                  </button>
                </div>
              </div>
            </div>

            <div class="dangky">
              <div class="dangky-bg">
                <div class="dangky-content">
                  <h1>Bạn muốn đăng ký tư vấn thiết kế nội thất?</h1>
                  <p>
                    Xin vui lòng để lại thông tin của bạn, Nhà Xinh sẽ liên hệ
                    lại ngay
                  </p>
                  <p>
                    Bạn cũng có thể gọi ngay đến số <b>Hotline 18007200</b> để
                    được tư vẫn trực tiếp
                  </p>
                  <table>
                    <tr>
                      <td>
                        <input id="name" type="text" placeholder="Họ tên" />
                      </td>
                      <td style="text-align: right">
                        <input
                          id="tel"
                          type="text"
                          placeholder="+(84) 0123 456"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <input
                          id="email"
                          type="email"
                          placeholder="Enter Email"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <textarea
                          name=""
                          id=""
                          cols="70"
                          rows="4"
                          placeholder="Nội dung liên hệ"
                        ></textarea>
                      </td>
                    </tr>
                  </table>
                  <div class="button">
                    <label class="label">
                      <input type="file" required />
                    </label>
                    <button>GỬI YÊU CẦU</button>
                  </div>
                </div>
              </div>
              <div class="image">
                <img src="../assets/images/thietkethicong/d1.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Share Content-->
      <div class="container share"></div>
      <!--Footer-->
      <footer></footer>
    </div>
    <script src="../assets/js/loading&connect.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="../assets/js/thietkethicong.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/header&footer.js"></script>
    <script src="../assets/js/slideshow.js"></script>
  </body>
</html>
