<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make My Home</title>
    <!--General-->
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!--Tintuc-->
    <link rel="stylesheet" href="../assets/css/TinTuc.css" />
    <!--Boostrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!--Fontawsome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>

  <body>
    <div class="loading"></div>
    <div class="offline-message" id="offline-message"></div>
    <div class="content-show">
      <!--Header-->
      <header></header>

      <!-- Tin Tức -->
      <div class="Tintuc">
        <!--Kéo ghế ra ngồi  -->
        <div class="Title_Tintuc">KÉO GHẾ RA NGỒI</div>
        <div class="slideshow" id="keogherangoi">
          <div
            id="carouselExampleControls"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="0">
                <div class="Flex_container_tintuc">
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/keo_ghe_ra_ngoi_20.png"
                    /><br />
                    <p class="content-title">
                      Nhà càng ở càng đẹp | KÉO GHẾ RA NGỒI #20
                    </p>
                    <p>
                      Điều có vẻ vô lý này sẽ trở nên vô cùng thuyết phục tại
                      Kéo Ghế Ra Ngồi, bởi nó được đúc kết từ chính trải nghiệm
                      100% thực tế...
                    </p>
                  </div>
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/keo_ghe_ra_ngoi_19.webp"
                    /><br />
                    <p class="content-title">
                      "Giá như tôi biết những điều này trước khi thi công" | KÉO
                      GHẾ RA NGỒI #19
                    </p>
                    <p>
                      Thi công công trình nhà ở là chuỗi ngày vừa háo hức mong
                      đợi căn nhà trong mơ sắp hoàn thiện vừa thấp thỏm âu lo vì
                      những vấn đề...
                    </p>
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="0">
                <div class="Flex_container_tintuc">
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/keo_ghe_ra_ngoi_18.png"
                    /><br />
                    <p class="content-title">
                      Ít tiền ít thời gian vẫn có nhà đẹp? | KÉO GHẾ RA NGỒI #18
                    </p>
                    <p>
                      Bài toán muôn thuở của nhiều gia đình là dồn hết ngân sách
                      cho việc mua nhà nên chi phí nội thất khá eo hẹp. Làm sao
                      với ngân sách...
                    </p>
                  </div>
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/keo_ghe_ra_ngoi_17.webp"
                    />
                    <p class="content-title">
                      Khách mời Hào Trần | Từ đam mê nội thất đến chủ 40 căn
                      airbnb | KÉO GHẾ RA NGỒI #17
                    </p>
                    <p>
                      Đúng bạn không hề đọc nhầm đâu, vào thời kỳ cao điểm nhất,
                      số lượng airbnb mà anh Hào Trần sở hữu đã lên đến con số
                      40. Và ngạc...
                    </p>
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="0">
                <div class="Flex_container_tintuc">
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/keo_ghe_ra_ngoi_16.png"
                    /><br />
                    <p class="content-title">
                      Thăm nhà Ben Nguyễn | Bí kíp giữ nhà sạch đẹp với thú cưng
                      | KÉO GHẾ RA NGỒI #16
                    </p>
                    <p>
                      Nếu bạn từng ngậm ngùi khi chiếc sofa mới mua chưa được
                      bao lâu đã bị boss cào bung góc hay những chiếc chân bàn,
                      chân ghế luôn hằn dấu...
                    </p>
                  </div>
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/keo_ghe_ra_ngoi_15.webp"
                    /><br />
                    <p class="content-title">
                      Không gian nhà ít ánh sáng - nâng cao trải nghiệm sống |
                      KÉO GHẾ RA NGỒI #15
                    </p>
                    <p>
                      Bạn có tò mò tại sao khi bước vào những khách sạn, spa cao
                      cấp luôn cảm thấy thư giãn, bước vào một bữa tiệc với ánh
                      nến lung linh...
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <!-- Tối giản một chút -->
        <div class="Title_Tintuc">TỐI GIẢN "MỘT" CHÚT</div>
        <div class="slideshow" id="toigianmotchut">
          <div
            id="carouselExampleControls2"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="0">
                <div class="Flex_container_tintuc">
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/toi_gian_mot_chut_10.png"
                    /><br />
                    <p class="content-title">
                      Tối giản một chút | Tháng 10 / SO
                    </p>
                    <p>
                      Có bao giờ bạn nhìn bạn bè xung quanh và cảm thấy FOMO
                      (nỗi sợ bị bỏ lại) chỉ vì không có được hững thứ họ đang
                      có: một công việc...
                    </p>
                  </div>
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/toi_gian_mot_chut_11.png"
                    />
                    <p class="content-title">
                      Tối giản một chút | Tháng 11 / SÁNG
                    </p>
                    <p>
                      [LỊCH CIAO] CHÀO THÁNG 11Chắc hẳn bạn cũng như Ciao, đang
                      bận rộn với công việc mùa cuối năm để kịp hoàn thành những
                      deadline, KPI đặt ra cho 2023....
                    </p>
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="0">
                <div class="Flex_container_tintuc">
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/toi_gian_mot_chut_12.webp"
                    /><br />
                    <p class="content-title">
                      Tối giản một chút | Tháng 12 / THẤU
                    </p>
                    <p>
                      Mời bạn quay lại vào tháng 12 để mở lòng với những thông
                      điệp nhỏ qua mỗi tập Podcast được lòng ghép trong tháng
                      này nhé!
                    </p>
                  </div>
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/toi_gian_mot_chut_9.png"
                    /><br />
                    <p class="content-title">
                      Tối giản một chút | Tháng 9 / TRỐNG
                    </p>
                    <p>
                      Khi nhìn vào 2 căn nhà, một căn nhà chất đầy đồ đạc và một
                      căn nhà rộng rãi ít đồ hơn, chúng ta thường cảm thấy dễ
                      chịu với...
                    </p>
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="0">
                <div class="Flex_container_tintuc">
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/toi_gian_mot_chut_8.webp"
                    /><br />
                    <p class="content-title">
                      Tối giản một chút | Tháng 8 / TINH
                    </p>
                    <p>
                      Có bao giờ bạn nghe về quy tắc 80/20? Rằng 80% kết quả
                      được tạo ra bởi 20% nỗ lực? Hay chủ nghĩa tối giản chính
                      là giản lược những gì...
                    </p>
                  </div>
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/toi_gian_mot_chut_7.webp"
                    /><br />
                    <p class="content-title">
                      Tối giản một chút | Tháng 7 / THẬT
                    </p>
                    <p>
                      Có bao giờ bạn bối rối khi nhận được những lời chúc gửi đi
                      hàng loạt từ ai đó nhân dịp sinh nhật, 8/3, năm mới...? Và
                      đã bao lần...
                    </p>
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="0">
                <div class="Flex_container_tintuc">
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/toi_gian_mot_chut_6.webp"
                    /><br />
                    <p class="content-title">
                      Tối giản một chút | Tháng 6 / LỌC
                    </p>
                    <p>
                      Chúng mình đã cùng nhau đi qua hết nửa cuộc hành trình của
                      2023 rồi đó, nhanh quá bạn nhỉ? Kế hoạch bạn đề ra từ đầu
                      năm, đã đi...
                    </p>
                  </div>
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/toi_gian_mot_chut_5.webp"
                    /><br />
                    <p class="content-title">
                      Tối giản một chút | Tháng 5 / CHẤT
                    </p>
                    <p>
                      năm nay kỳ nghỉ lễ 30.4-1.5 kéo dài tận 5 ngày, tưởng phải
                      cực chill nhưng với nhiều người để chill lại rất cực. Bởi
                      điểm du lịch nào cũng đông...
                    </p>
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="0">
                <div class="Flex_container_tintuc">
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/toi_gian_mot_chut_4.webp"
                    /><br />
                    <p class="content-title">
                      Tối giản một chút | Tháng 4 / ĐỀU
                    </p>
                    <p>
                      Bạn có thức dậy sớm trước 6h, tập thể dục và tự nấu cho
                      mình một bữa sáng thật bổ dưỡng không? Hay bạn vẫn nằm đó
                      lăn lộn trong...
                    </p>
                  </div>
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/toi_gian_mot_chut_3.webp"
                    /><br />
                    <p class="content-title">
                      Tối giản một chút | Tháng 3 / CHỌN
                    </p>
                    <p>
                      Trong cuộc sống hiện đại, bất kỳ ai trong chúng ta cũng
                      đều có rất nhiều lựa chọn để thỏa mãn được cái tôi. Giữa
                      hàng trăm, hàng ngàn sự...
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls2"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControls2"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <!-- Ưu đãi thành viên -->
        <div class="Title_Tintuc">ƯU ĐÃI THÀNH VIÊN</div>
        <div class="Flex_container_tintuc" id="uudai">
          <div class="content-tt">
            <img src="../assets/images/Tintuc/uu_dai_thanh_vien.webp" />
          </div>
          <div class="content-tt" id="uudai-content1">
            <p class="content-title">ƯU ĐÃI THÀNH VIÊN - QUYỀN LỢI BẤT TẬN</p>
            <p>
              QUYỀN LỢI CHỦ THẺ HOMIE REWARDSHomie rewards là chương trình thẻ
              thành viên dành cho các bạn yêu thích và mua sắm sản phẩm tại Make
              My Home. Với hóa đơn trên 5.000.000, bạn sẽ được tặng thẻ tích
              điểm để bắt đầu công cuộc tích điểm và nâng mức thành viên với
              nhiều ưu đãi dành riêng cho mỗi bậc.CÁC HẠNG MỨC VÀ ƯU ĐÃI THẺĐối
              với thành viên Bạc (tích lũy từ 5.000.000 đến <20.000.000đ), bạn
              sẽ được:Giảm giá...
            </p>
          </div>
        </div>
        <!-- Bốn chân tiếp sức -->
        <div class="Title_Tintuc">BỐN CHÂN TIẾP SỨC</div>
        <div class="slideshow" id="bonchantiepsuc">
          <div
            id="carouselExampleControls3"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="0">
                <div class="Flex_container_tintuc">
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/bon_chan_tiep_suc_1.webp"
                    />
                  </div>
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/bon_chan_tiep_suc_2.webp"
                    />
                  </div>
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/bon_chan_tiep_suc_3.webp"
                    />
                  </div>
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/bon_chan_tiep_suc_4.webp"
                    />
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="0">
                <div class="Flex_container_tintuc">
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/bon_chan_tiep_suc_5.webp"
                    />
                  </div>
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/bon_chan_tiep_suc_6.webp"
                    />
                  </div>
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/bon_chan_tiep_suc_7.webp"
                    />
                  </div>
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/bon_chan_tiep_suc_8.webp"
                    />
                  </div>
                </div>
              </div>
            </div>

            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls3"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControls3"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <!-- Công trình thực tế -->
        <div class="Title_Tintuc">CÔNG TRÌNH THỰC TẾ</div>
        <div class="slideshow" id="toigianmotchut">
          <div
            id="carouselExampleControls4"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="0">
                <div class="Flex_container_tintuc">
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/../Tintuc/cong_trinh_thuc_te_1.webp"
                    /><br />
                    <p class="content-title">
                      Cải tạo nhà cũ nhàm chán thành tổ ấm như mơ
                    </p>
                    <p>
                      Cải tạo nhà cũ là một câu chuyện muôn thuở luôn được mọi
                      người quan tâm ở bất kỳ thời điểm nào, đặc biệt là với
                      người trưởng thành, gia...
                    </p>
                  </div>
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/cong_trinh_thuc_te_2.webp"
                    />
                    <p class="content-title">
                      Tiện nghi trong không gian giới hạn
                    </p>
                    <p>
                      Với diện tích chỉ vỏn vẹn 32m<sup>2</sup>,đội ngũ Make My
                      Home đã tận dụng từng cm và thiết kế nên không gian có đầy
                      đủ công năng nhưng vẫn...
                    </p>
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="0">
                <div class="Flex_container_tintuc">
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/cong_trinh_thuc_te_3.webp"
                    /><br />
                    <p class="content-title">NHÀ - Nơi bình yên và hạnh phúc</p>
                    <p>
                      Với mong muốn có thể giúp anh chị chủ nhà thoải mái thư
                      giãn trong chính căn nhà của mình, Make My Home đã thiết
                      kế một không gian có...
                    </p>
                  </div>
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/cong_trinh_thuc_te_4.png"
                    /><br />
                    <p class="content-title">
                      Không gian mở - Tiện nghi đi cùng kết nối
                    </p>
                    <p>
                      Không bỏ cuộc vào một phong cách nhất định, Make My Home
                      mang tới sự kết hợp giữa JOHY và DALAT Concept, để tạo một
                      không gian phù hợp nhất ...
                    </p>
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="0">
                <div class="Flex_container_tintuc">
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/cong_trinh_thuc_te_5.png"
                    /><br />
                    <p class="content-title">Hạnh phúc đến từ sự giản đơn</p>
                    <p>
                      Sâu thẳm trong tâm trí mỗi người, chắc hẳn đều tồn tại
                      những mong ước thầm kín, đó là làm sao để sở hữu một chốn
                      an yên, không gian...
                    </p>
                  </div>
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/cong_trinh_thuc_te_6.png"
                    /><br />
                    <p class="content-title">Chìm đắm trong vẻ đẹp thủ đô</p>
                    <p>
                      HANO là Concept được đánh giá cao nhất tại Make My Home về
                      độ sang trọng, đi cùng bộ sản phẩm cao cấp mang lại cảm
                      giác vừa uy nghi...
                    </p>
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="0">
                <div class="Flex_container_tintuc">
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/cong_trinh_thuc_te_7.webp"
                    /><br />
                    <p class="content-title">Vẻ hiện đại đậm chất Sài thành</p>
                    <p>
                      Những ai yêu thích chốn Sài thành rực rỡ và đầy hoa lệ thì
                      chắc chắn cũng sẽ phải lòng SAGO Concept với những đường
                      nét chắc gọn, tối giản...
                    </p>
                  </div>
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/cong_trinh_thuc_te_8.webp"
                    /><br />
                    <p class="content-title">Nâu trầm ấm và đen huyền bí</p>
                    <p>
                      Là một trong những gói nội thất được ưa chuộng và hợp nhu
                      cầu, sở thích của các khách hàng nhất tại Make My Home,
                      HANO Concept đóng vai trò...
                    </p>
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="0">
                <div class="Flex_container_tintuc">
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/cong_trinh_thuc_te_9.webp"
                    /><br />
                    <p class="content-title">
                      Makeover nhà trọ 12m2 cho Dương Yến Nhi
                    </p>
                    <p>
                      Dương Yến Nhi là một nữ diễn viên tài năng đã góp mặt
                      torng một số bộ phim nổi tiếng như "Lan Quế
                      Phường","Phượng khẩu","Ê nhỏ lớp trưởng...
                    </p>
                  </div>
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tintuc/cong_trinh_thuc_te_10.webp"
                    /><br />
                    <p class="content-title">Tiếng gọi của sự bình yên</p>
                    <p>
                      Chủ đầu tư:anh Hiếu Địa điểm:Vinhome Grand Park, Quận 9,
                      TP HCM Loại công trình: căn hộ 1 PN Chủ nhà chia sẻ, điều
                      làm anh hạnh phúc nhất mỗi ngày...
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls4"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControls4"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <!-- HOME TIPS -->
          <div class="Title_Tintuc">HOME TIPS</div>

          <div class="slideshow" id="home_tips">
            <div
              id="carouselExampleControls5"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="0">
                  <div class="Flex_container_tintuc">
                    <div class="content_tt">
                      <img
                        src="../assets/images/Tintuc/../Tintuc/home_tips_1.webp"
                      /><br />
                      <p class="content-title">
                        Pop-up SỐNG & LÀM VIỆC (15.04 - 07.05.2023)
                      </p>
                      <p>
                        Một không gian để bạn thỏa sức "Sống và Làm việc" với Bộ
                        sưu tập bàn làm việc mới nhất từ Make My Home, trà bánh
                        MIỄN PHÍ, boardgame, sách,...
                      </p>
                    </div>
                    <div class="content_tt">
                      <img src="../assets/images/Tintuc/home_tips_2.png" />
                      <p class="content-title">
                        Nếu được "Chọn Yêu", trái tim bạn sẽ hướng về đâu?
                      </p>
                      <p>
                        "MÌNH CHỌN YÊU..."Khi cuộc sống là những lựa chọn, bạn
                        thường quanh quẩn trong mớ hỗn độn của hy vọng và mong
                        ước. Đã bao giờ bạn nghĩ, 2 năm...
                      </p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="0">
                  <div class="Flex_container_tintuc">
                    <div class="content_tt">
                      <img
                        src="../assets/images/Tintuc/home_tips_3.webp"
                      /><br />
                      <p class="content-title">
                        Bàn ăn: Chọn đúng để không rối tung
                      </p>
                      <p>
                        Việc chọn một chiếc bàn ăn đáp ứng được mọi nhu cầu cho
                        tổ ấm đóng vai trò vô cùng quan trọng, không chỉ giúp
                        gia tăng thẩm mỹ mà...
                      </p>
                    </div>
                    <div class="content_tt">
                      <img
                        src="../assets/images/Tintuc/home_tips_4.png"
                      /><br />
                      <p class="content-title">
                        Chọn dáng bếp hiện đại theo chữ cái
                      </p>
                      <p>
                        Cho dù nhà bếp của bạn rộng rãi hay chật hẹp, một cách
                        bố trí thông minh sẽ tạo ra sự khác biệt giúp bạn tận
                        dụng tối đa không...
                      </p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="0">
                  <div class="Flex_container_tintuc">
                    <div class="content_tt">
                      <img
                        src="../assets/images/Tintuc/home_tips_5.webp"
                      /><br />
                      <p class="content-title">
                        4 kinh nghiệm thực tế khi hợp tác với Kiến Trúc Sư
                      </p>
                      <p>
                        Để xây dựng được tổ ấm trong mơ thì Kiến Trúc Sư (KTS)
                        đóng vai trò cực kỳ quan trọng xuyên suốt quá trình từ
                        lúc lên ý tưởng tới...
                      </p>
                    </div>
                    <div class="content_tt">
                      <img
                        src="../assets/images/Tintuc/home_tips_6.webp"
                      /><br />
                      <p class="content-title">
                        4 tuyệt chiêu biến hình của bàn gấp gọn EZ
                      </p>
                      <p>
                        Dành cho những newbie mới gia nhập đại gia đình Homies
                        của Nhà, thì EZ Collection là giải pháp lưu trữ tối ưu
                        nhất cho không gian nhà ở giới...
                      </p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="0">
                  <div class="Flex_container_tintuc">
                    <div class="content_tt">
                      <img
                        src="../assets/images/Tintuc/home_tips_7.webp"
                      /><br />
                      <p class="content-title">
                        4 cuốn sách must-read về tư duy tối giản
                      </p>
                      <p>
                        Lối sống tối giản không đơn giản chỉ là sự buông bỏ về
                        mặt vật chất, mà chính là vứt bỏ những phiền muộn, xao
                        nhãng trong cuộc sống hằng...
                      </p>
                    </div>
                    <div class="content_tt">
                      <img
                        src="../assets/images/Tintuc/home_tips_8.webp"
                      /><br />
                      <p class="content-title">
                        4 lưu ý khi thực hiện bản 3D không gian nhà
                      </p>
                      <p>
                        Tạo dựng một tổ ấm lý tưởng là môt quá trình dài đòi hỏi
                        những kế hoạch cụ thể và tình toán chính xác. Để tránh
                        những rủi ro đáng tiếc...
                      </p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="0">
                  <div class="Flex_container_tintuc">
                    <div class="content_tt">
                      <img
                        src="../assets/images/Tintuc/home_tips_9.webp"
                      /><br />
                      <p class="content-title">
                        Năm nào mẹ cũng bảo "Tết Nhứt tới nơi...
                      </p>
                      <p>
                        Năm nào cũng thế, một tuần cận Tết luôn được xem là tuần
                        "cao điểm" của những câu nói quen thuộc từ mẹ. Cùng Make
                        My Home điểm danh các...
                      </p>
                    </div>
                    <div class="content_tt">
                      <img
                        src="../assets/images/Tintuc/home_tips_10.webp"
                      /><br />
                      <p class="content-title">
                        Những cái "nhứt" mỗi mùa Tết đến
                      </p>
                      <p>
                        Dẫu mỗi năm Tết có đổi thay ít nhiều, nhưng có những
                        điều vẫn luôn là "nhứt" trong lòng mọi người. Cùng Nhà
                        điểm qua những cái "nhứt" mỗi mùa...
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleControls5"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleControls5"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <!-- LOOKBOOK -->
          <div class="Title_Tintuc">LOOKBOOK</div>

          <div class="slideshow" id="lookbook">
            <div
              id="carouselExampleControls6"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="0">
                  <div class="Flex_container_tintuc">
                    <div class="content_tt">
                      <img
                        src="../assets/images/Tintuc/../Tintuc/lookbook_1.png"
                      /><br />
                      <p class="content-title">Đến Nhà, mang Noel về nha!</p>
                      <p>
                        Đến Nhà, mang Noel về nha! Hạnh phúc đêm Giáng sinh
                        không nhất thiết phải đi ăn ở nơi sang trọng, hay tặng
                        nhau những món quà đắt giá. Hạnh...
                      </p>
                    </div>
                    <div class="content_tt">
                      <img src="../assets/images/Tintuc/lookbook_2.jpg" />
                      <p class="content-title">
                        XUYÊN XA và những vẻ đẹp vượt thời gian
                      </p>
                      <p>
                        Tre và hình tượng người phụ nữ Việt Nam luôn là nguồn
                        cảm hứng bất tận cho những ai đam mê nghệ thuật, dù
                        chẳng mất khi hai điều kì...
                      </p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="0">
                  <div class="Flex_container_tintuc">
                    <div class="content_tt">
                      <img
                        src="../assets/images/Tintuc/../Tintuc/lookbook_1.png"
                      /><br />
                      <p class="content-title">Đến Nhà, mang Noel về nha!</p>
                      <p>
                        Đến Nhà, mang Noel về nha! Hạnh phúc đêm Giáng sinh
                        không nhất thiết phải đi ăn ở nơi sang trọng, hay tặng
                        nhau những món quà đắt giá. Hạnh...
                      </p>
                    </div>
                    <div class="content_tt">
                      <img src="../assets/images/Tintuc/lookbook_2.jpg" />
                      <p class="content-title">
                        XUYÊN XA và những vẻ đẹp vượt thời gian
                      </p>
                      <p>
                        Tre và hình tượng người phụ nữ Việt Nam luôn là nguồn
                        cảm hứng bất tận cho những ai đam mê nghệ thuật, dù
                        chẳng mất khi hai điều kì...
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleControls6"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleControls6"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <!-- Tuyển dụng -->
        </div>
      </div>
      <!--Share Content-->
      <div class="container share"></div>
      <!--Footer-->
      <footer></footer>
    </div>
    <script src="../assets/js/loading&connect.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="../assets/js/tintuc.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/header&footer.js"></script>
    <script src="../assets/js/slideshow.js"></script>
  </body>
</html>
