<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make My Home</title>
    <!--General-->
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!--Tuyendung-->
    <link rel="stylesheet" href="../assets/css/tuyendung.css" />
    <!--Boostrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!--Fontawsome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>

  <body>
    <div class="loading"></div>
    <div class="offline-message" id="offline-message"></div>
    <div class="content-show">
      <!--Header-->
      <header></header>

      <!--Tuyển dụng Content-->
      <div class="tuyendung_header container">
        <hr size="30px" color="yellow" />
        <h1>Tin tức</h1>
        <div class="content flex">
          <div class="content_1">
            <h4 style="margin-top: 0">Bài viết</h4>
            <h4>Intagram</h4>
            <div class="grid-container">
              <img src="../assets/images/Tuyendung/6.jpg" alt="" />
              <img src="../assets/images/Tuyendung/1.jpg" alt="" />
              <img src="../assets/images/Tuyendung/2.jpg" alt="" />
              <img src="../assets/images/Tuyendung/3.jpg" alt="" />
              <img src="../assets/images/Tuyendung/4.jpg" alt="" />
              <img src="../assets/images/Tuyendung/5.jpg" alt="" />
              <img src="../assets/images/Tuyendung/7.jpg" alt="" />
              <img src="../assets/images/Tuyendung/8.jpg" alt="" />
            </div>
            <h4>Bài viết gần đây</h4>
            <div>
              <p>Free 3D & Giảm 10% tất cả concept</p>
              <p>SHARING & LOVING - Món quà nhỏ, niềm vui lớn</p>
              <p>DOODLE DEAL - Up to 60% all items</p>
              <p>Tiktok Challenge - "Ở Nhà Lạ Vui!"</p>
              <p>Miễn phí vận chuyển cho tất cả đơn hàng từ 0đ!</p>
            </div>
          </div>
          <div class="content_2">
            <div class="content_2_01" style="padding: 0">
              <div class="img-container">
                <img src="../assets/images/Tuyendung/h5.png" alt="" />
              </div>
              <div class="content2_01_text">
                <h2>[TUYỂN DỤNG] BẠN CÓ YÊU NHÀ KHÔNG?</h2>
                <p style="color: var(--detail-color); font-size: 12px">
                  <b>Đăng bởi</b> Home Make MY | Tháng 5 31, 2023 | 0 bình luận
                </p>
                <p style="padding: 30px 0 20px 0">
                  Đó sẽ là câu hỏi mà Make My Home luôn đặt ra trong mọi buổi
                  gặp gỡ ứng viên. Tụi mình tin rằng, chỉ khi có tình yêu đủ lớn
                  với nhà cửa, nội thất, với không gian sống đẹp, bạn mới có thể
                  lan toả đến người khác, dù trong cuộc sống hay công việc. Nhân
                  tiện, nếu bạn yêu nhà và cũng đang tìm kiếm một công việc mới
                  ở các vị
                </p>
                <a href="./Tuyendung_xemthem.html"><button>XEM THÊM</button></a>
              </div>
            </div>
            <div class="content_2_01">
              <div class="img-container">
                <img src="../assets/images/Tuyendung/h4.png" alt="" />
              </div>
              <div class="content2_01_text">
                <h2>TÌM NGƯỜI NHÀ | TUYỂN DỤNG THÁNG 5</h2>
                <p style="color: var(--detail-color); font-size: 12px">
                  <b>Đăng bởi</b> Home Make MY | Tháng 5 04, 2023 | 0 bình luận
                </p>
                <p style="padding: 30px 0 20px 0">
                  Bạn mong muốn được phát huy mọi tiềm năng vốn có? Được làm
                  việc trong môi trường trẻ trung, năng động và luôn khuyến
                  khích mọi sự khác biệt, tự do trở thành phiên bản độc nhất của
                  chính mình? VẬY THÌ HÃY TRỞ THÀNH MỘT PHẦN CỦA NHÀ NHÉ!
                </p>
                <a href="./Tuyendung_xemthem.html"><button>XEM THÊM</button></a>
              </div>
            </div>
            <div class="content_2_01">
              <div class="img-container">
                <img src="../assets/images/Tuyendung/h3.jpg" alt="" />
              </div>
              <div class="content2_01_text">
                <h2>TÌM NGƯỜI NHÀ - TUYỂN DỤNG 2023</h2>
                <p style="color: var(--detail-color); font-size: 12px">
                  <b>Đăng bởi</b> Home Make MY | Tháng 2 07, 2023 | 0 bình luận
                </p>
                <p style="padding: 30px 0 20px 0">
                  Nếu bạn đang tìm kiếm một công việc lý tưởng để thể hiện trình
                  độ chuyên môn cũng như đam mê của mình, thì Nhà cũng đang tìm
                  những người bạn phù hợp để cùng đồng hành trên hành trình phát
                  triển một Make My Home vững mạnh và sáng tạo hơn. 📍 Địa điểm:
                  Văn phòng MMH - quận Tân Bình𝐒𝐀𝐋𝐄𝐒 • Store manager: https://b
                </p>
                <a href="./Tuyendung_xemthem.html"><button>XEM THÊM</button></a>
              </div>
            </div>
            <div class="content_2_01">
              <div class="img-container">
                <img src="../assets/images/Tuyendung/h2.png" alt="" />
              </div>
              <div class="content2_01_text">
                <h2>WE ARE HIRING 12/2022</h2>
                <p style="color: var(--detail-color); font-size: 12px">
                  <b>Đăng bởi</b> Home Make MY | Tháng 11 21, 2022 | 0 bình luận
                </p>
                <p style="padding: 30px 0 20px 0">
                  NHÀ TUYỂN DỤNG - TÌM NGƯỜI ĐỒNG HÀNHNhiều bạn thắc mắc tại sao
                  Nhà tuyển dụng suốt, Nhà cũng thấy ngại lắm chứ. Nhưng với
                  tình hình phát triển và số lượng dự án Nhà đang đảm nhận quá
                  nhiều, vì thế mà Nhà luôn cần đến những cánh tay cùng đồng
                  hành.Nếu bạn đang tìm kiếm một công việc lý tưởng để thể hiện
                  trình độ chuyên
                </p>
                <a href="./Tuyendung_xemthem.html"><button>XEM THÊM</button></a>
              </div>
            </div>
            <div class="content_2_01">
              <div class="img-container">
                <img src="../assets/images/Tuyendung/h1.jpg" alt="" />
              </div>
              <div class="content2_01_text">
                <h2>MAKE MY HOME TUYỂN DỤNG THÁNG 01/2021</h2>
                <p style="color: var(--detail-color); font-size: 12px">
                  <b>Đăng bởi</b> Home Make MY | Tháng 1 01, 2021 | 0 bình luận
                </p>
                <p style="padding: 30px 0 20px 0">
                  NĂM MỚI, THẮP NGUỒN SÁNG MỚIKhông chỉ cho bạn, mà cho Make My
                  Home nữa. Bởi vì có thể, bạn đang cần một công việc theo đúng
                  chuyên môn và mong muốn của mình.
                </p>
                <a href="./Tuyendung_xemthem.html"><button>XEM THÊM</button></a>
              </div>
            </div>
            <div class="next_page">
              <ul>
                <li><span>1</span></li>
                <li><a href="./Tuyendung2.html">2</a></li>
                <li><a href="./Tuyendung2.html">Sau</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--Footer-->
      <footer></footer>
    </div>
    <script src="../assets/js/loading&connect.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/header&footer.js"></script>
    <script src="../assets/js/slideshow.js"></script>
  </body>
</html>
