<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make My Home</title>
    <!--General-->
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!--Tuyendung-->
    <link rel="stylesheet" href="../assets/css/tuyendung.css" />
    <!-- Tuyendung_xemthem -->
    <link rel="stylesheet" href="../assets/css/tuyendung_xemthem.css" />
    <!--Boostrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!--Fontawsome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>

  <body>
    <div class="loading"></div>
    <div class="offline-message" id="offline-message"></div>
    <div class="content-show">
      <!--Header-->
      <header></header>

      <!--Tuyển dụng Content-->
      <div class="tuyendung_header container">
        <hr size="30px" color="yellow" />
        <h1>Tin tức</h1>
        <div class="flex">
          <div class="content">
            <div class="content_1">
              <h4 style="margin-top: 0">Bài viết</h4>
              <h4>Intagram</h4>
              <div class="grid-container">
                <img src="../assets/images/Tuyendung/6.jpg" alt="" />
                <img src="../assets/images/Tuyendung/1.jpg" alt="" />
                <img src="../assets/images/Tuyendung/2.jpg" alt="" />
                <img src="../assets/images/Tuyendung/3.jpg" alt="" />
                <img src="../assets/images/Tuyendung/4.jpg" alt="" />
                <img src="../assets/images/Tuyendung/5.jpg" alt="" />
                <img src="../assets/images/Tuyendung/7.jpg" alt="" />
                <img src="../assets/images/Tuyendung/8.jpg" alt="" />
              </div>
              <h4>Bài viết gần đây</h4>
              <div>
                <p>Free 3D & Giảm 10% tất cả concept</p>
                <p>SHARING & LOVING - Món quà nhỏ, niềm vui lớn</p>
                <p>DOODLE DEAL - Up to 60% all items</p>
                <p>Tiktok Challenge - "Ở Nhà Lạ Vui!"</p>
                <p>Miễn phí vận chuyển cho tất cả đơn hàng từ 0đ!</p>
              </div>
            </div>
            <div class="content_2">
              <div class="content_2_text">
                <h1>[TUYỂN DỤNG] BẠN CÓ YÊU NHÀ KHÔNG?</h1>
                <p style="color: var(--detail-color); font-size: 12px">
                  <b>Đăng bởi</b> Home Make MY | Tháng 5 31, 2023 | 0 bình luận
                </p>
                <p>
                  Đó sẽ là câu hỏi mà Make My Home luôn đặt ra trong mọi buổi
                  gặp gỡ ứng viên. Tụi mình tin rằng, chỉ khi có tình yêu đủ lớn
                  với nhà cửa, nội thất, với không gian sống đẹp, bạn mới có thể
                  lan toả đến người khác, dù trong cuộc sống hay công việc. Nhân
                  tiện, nếu bạn yêu nhà và cũng đang tìm kiếm một công việc mới
                  ở các vị
                </p>
                <p>
                  Nhân tiện, nếu bạn yêu nhà và cũng đang tìm kiếm một công việc
                  mới ở các vị trí bên dưới, apply để mình sớm "về chung một
                  nhà" nhé.
                </p>
                <div class="img-container">
                  <img src="../assets/images/Tuyendung/h5.png" alt="" />
                </div>
                <p><span>MARRKETING</span></p>
                <ul>
                  <li>Marketing Executive: https://bit.ly/3C5pxjY</li>
                  <li>Content Writer: https://bit.ly/3C3Xf9f</li>
                  <li>Visual Assistant: https://bit.ly/3MDliAZ</li>
                </ul>
                <p><span>PROJECT</span></p>
                <ul>
                  <li>Quản lý dự án: https://bit.ly/3K4MozL</li>
                  <li>Giám sát công trình: https://bit.ly/40vWoJi</li>
                </ul>
                <p><span>WOODSHOP</span></p>
                <ul>
                  <li>Kế toán kho: https://bit.ly/3Zzcuk7</li>
                </ul>
                <p>
                  Gửi CV/Portfolio của bạn qua email: hr@makemyhomevn.com để Nhà
                  cùng biết rõ hơn về bạn và sắp xếp lịch hẹn trao đổi nhé!
                </p>
                <p>
                  *Lưu ý: Tip để "đậu ngay từ vòng gửi xe", đừng ngại thể hiện
                  tình yêu nhà của bạn dưới bất cứ hình thức nào, đó sẽ là một
                  "điểm cộng" lớn đó nhe!
                </p>
                <hr
                  style="
                    border: none;
                    border-top: 3px dashed #000;
                    width: 100px;
                  "
                />
                <ul style="padding-left: 15px; padding-bottom: 20px">
                  <li>Tối Giản Một Chút Cùng Make My Home</li>
                  <li>http://makemyhomevn.com</li>
                  <li>97 - 99 Cộng Hòa, w4, Tân Bình, HCMC</li>
                  <li>028 6267 6466</li>
                </ul>
                <hr style="color: black; width: 50%" />
              </div>

              <div class="comment">
                <div class="header">
                  <h4 style="margin-top: 15%">VIẾT MỘT BÌNH LUẬN</h4>
                  <ul>
                    <li>Chia sẻ:</li>
                    <li>
                      <a href=""
                        ><i class="fa-brands fa-facebook fa-2xl"></i
                      ></a>
                    </li>
                    <li>
                      <a href=""
                        ><i class="fa-brands fa-instagram fa-2xl"></i
                      ></a>
                    </li>
                    <li>
                      <a href=""
                        ><i class="fa-brands fa-pinterest fa-2xl"></i
                      ></a>
                    </li>
                    <li>
                      <a href=""><i class="fa-brands fa-youtube fa-2xl"></i></a>
                    </li>
                  </ul>
                </div>
                <table>
                  <tr>
                    <td><input type="text" placeholder="Tên bạn" /></td>
                    <td style="padding-left: 2%">
                      <input type="email" placeholder="your@email.com" />
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <input
                        style="width: 100%"
                        type="text"
                        placeholder="Website"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <textarea name="" id="" cols="140" rows="10"></textarea>
                    </td>
                  </tr>
                </table>
                <button>ĐĂNG BÌNH LUẬN</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Share Content-->
      <div class="container share"></div>
      <!--Footer-->
      <footer></footer>
    </div>
    <script src="../assets/js/loading&connect.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/header&footer.js"></script>
    <script src="../assets/js/slideshow.js"></script>
  </body>
</html>
