<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make My Home</title>
    <!--General-->
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!--Tuyendung-->
    <link rel="stylesheet" href="../assets/css/tuyendung.css" />
    <!--Boostrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!--Fontawsome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>

  <body>
    <div class="loading"></div>
    <div class="offline-message" id="offline-message"></div>
    <div class="content-show">
      <!--Header-->
      <header></header>

      <!--Tuyển dụng Content-->
      <div class="tuyendung_header container">
        <hr size="30px" color="yellow" />
        <h1>Tin tức</h1>
        <div class="flex">
          <div class="content">
            <div class="content_1">
              <h4 style="margin-top: 0">Bài viết</h4>
              <h4>Intagram</h4>
              <div class="grid-container">
                <img src="../assets/images/Tuyendung/6.jpg" alt="" />
                <img src="../assets/images/Tuyendung/1.jpg" alt="" />
                <img src="../assets/images/Tuyendung/2.jpg" alt="" />
                <img src="../assets/images/Tuyendung/3.jpg" alt="" />
                <img src="../assets/images/Tuyendung/4.jpg" alt="" />
                <img src="../assets/images/Tuyendung/5.jpg" alt="" />
                <img src="../assets/images/Tuyendung/7.jpg" alt="" />
                <img src="../assets/images/Tuyendung/8.jpg" alt="" />
              </div>
              <h4>Bài viết gần đây</h4>
              <div>
                <p>Free 3D & Giảm 10% tất cả concept</p>
                <p>SHARING & LOVING - Món quà nhỏ, niềm vui lớn</p>
                <p>DOODLE DEAL - Up to 60% all items</p>
                <p>Tiktok Challenge - "Ở Nhà Lạ Vui!"</p>
                <p>Miễn phí vận chuyển cho tất cả đơn hàng từ 0đ!</p>
              </div>
            </div>
            <div class="content_2">
              <div class="content_2_01" style="padding: 0">
                <div class="img-container">
                  <img src="../assets/images/Tuyendung/h6.png" alt="" />
                </div>
                <div class="content2_01_text">
                  <h2>MAKE MY HOME TUYỂN DỤNG THÁNG 10/2020</h2>
                  <p style="color: var(--detail-color); font-size: 12px">
                    <b>Đăng bởi</b> Trần Quỳnh Nhi | Tháng 9 24, 2020 | 0 bình
                    luận
                  </p>
                  <p style="padding: 30px 0 20px 0">
                    MAKE MY HOME TUYỂN DỤNG THÁNG 11/2020Mở rộng kinh doanh luôn
                    là mục tiêu phấn đấu của Nhà, nhưng để được vậy Nhà cần rất
                    nhiều bạn đồng hành đi chung cùng Nhà trong giai đoạn sắp
                    tới.Về với Nhà đi, Nhà luôn lắng nghe ý kiến và rõ ràng về
                    các chính sách lương thưởng. Ngoài thưởng lương tháng 13,
                    công ty còn khuyến kích
                  </p>
                  <a href="./Tuyendung_xemthem.html"
                    ><button>XEM THÊM</button></a
                  >
                </div>
              </div>
              <div class="content_2_01">
                <div class="img-container">
                  <img src="../assets/images/Tuyendung/h7.png" alt="" />
                </div>
                <div class="content2_01_text">
                  <h2>MAKE MY HOME TUYỂN DỤNG - WE NEED YOU</h2>
                  <p style="color: var(--detail-color); font-size: 12px">
                    <b>Đăng bởi</b> Trần Quỳnh Nhi | Tháng 8 31, 2019 | 0 bình
                    luận
                  </p>
                  <p style="padding: 30px 0 20px 0">
                    Ở tại Make My Home, nhân viên là cốt lõi của sự bền vững và
                    phát triển. Với mục tiêu mang đến cuộc sống tốt đẹp hơn cho
                    tất cả mọi người, trước hết phải bắt đầu từ nhân viên, chúng
                    tôi luôn trân trọng từng thành viên trong đội ngũ của mình.
                  </p>
                  <a href="./Tuyendung_xemthem.html"
                    ><button>XEM THÊM</button></a
                  >
                </div>
              </div>
              <div class="content_2_01">
                <div class="img-container">
                  <img src="../assets/images/Tuyendung/h8.png" alt="" />
                </div>
                <div class="content2_01_text">
                  <h2>[BẢNG TIN TUYỂN DỤNG] WE NEED YOU</h2>
                  <p style="color: var(--detail-color); font-size: 12px">
                    <b>Đăng bởi</b> Trần Quỳnh Nhi | Tháng 3 02, 2019 | 0 bình
                    luận
                  </p>
                  <p style="padding: 30px 0 20px 0">
                    Ngành nội thất Việt Nam vừa cán mốc 4 tỷ đô la Mỹ cho tổng
                    sản lượng tiêu thụ trong năm 2018. Một con số hết sức hấp
                    dẫn cho những bạn có sở thích và mong muốn thử sức với nội
                    thấtTrong năm 2019 này, để đáp ứng được nhu cầu phát triển
                    kinh doanh của mình, Make My Home hiện đang tìm kiếm nhân sự
                    chung team ở các vị trí
                  </p>
                  <a href="./Tuyendung_xemthem.html"
                    ><button>XEM THÊM</button></a
                  >
                </div>
              </div>
              <div class="content_2_01">
                <div class="img-container">
                  <img src="../assets/images/Tuyendung/h9.png" alt="" />
                </div>
                <div class="content2_01_text">
                  <h2>MAKE MY HOME TUYỂN DỤNG</h2>
                  <p style="color: var(--detail-color); font-size: 12px">
                    <b>Đăng bởi</b> MAKE MY HOME | Tháng 10 05, 2018 | 0 bình
                    luận
                  </p>
                  <p style="padding: 30px 0 20px 0">
                    Cơ hội để trở thành thành viên của MAKE MY HOME. Nhân viên
                    là cốt lõi của sự bền vững và phát triển. Với mục tiêu mang
                    đến cuộc sống tốt đẹp hơn cho tất cả mọi người, trước hết
                    phải là nhân viên, chúng tôi luôn trân trọng từng thanh viên
                    trong đội ngũ của mình. Cố gắng phát huy tối đa năng lực và
                    trau dồi thêm kỹ năng
                  </p>
                  <a href="./Tuyendung_xemthem.html"
                    ><button>XEM THÊM</button></a
                  >
                </div>
              </div>

              <div class="next_page">
                <ul>
                  <li><a href="./Tuyendung1.html">Trước</a></li>
                  <li><a href="./Tuyendung1.html">1</a></li>
                  <li><span>2</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Footer-->
      <footer></footer>
    </div>
    <script src="../assets/js/loading&connect.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/header&footer.js"></script>
    <script src="../assets/js/slideshow.js"></script>
  </body>
</html>
